
body{
    text-align: left;
}
.contact-container{
    margin: auto;
    width: 30%;
    
}
.contact a{
    text-decoration: none;
    color: rgb(4, 4, 134);
    font-weight: bold;
     
}
.contact {
    font-size: 20px;
    padding: 10px;
}
.contact span{
    display: inline-block;
}