*{
    background-color: rgb(212, 199, 203);
    padding-left: 10px;
    padding-right: 10px;
}
.intro{
    text-align: left;
    margin: auto;
    width: 70%;
    padding: 70px 120px;
}
.hi{
    font-size: 50px;
    
}
.swe{
    font-size: 30px;
    padding-top: 10px;
}



.contact-container{
    margin: auto;
    
    text-align: left;
}

.contact a{
    text-decoration: none;
    color: rgb(4, 4, 134);
    font-weight: bold;
     
}
.contact {
    font-size: 20px;
    padding: 30px;
    display: inline-block;
    width: 400px;
    height: 50px;
}


